@charset 'utf-8';

*{
	margin:0; 
	padding:0;
	font-family:'Helvetica';
}
body{
	color:#3a3a3a;
}
a{
	text-decoration:none;
}
li{
	list-style-type:none;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix::after{
	content:'';
	display:block;
	clear:both;
}
.ib{
	display:inline-block;
}
.b{
	display:block;
}
}
 a:hover{
	color:#ca151d;
}
h3{
	height:50px;
	line-height:50px;
	font-size:22px;
	font-weight:normal;
	color:#3a3a3a;
}
.b-img-alt{
	height:161px;
	width:160px;
	padding-top:10px;
	margin-bottom:10px;
	text-align:center;
}
.b-img-alt img{
	width:120px;
	height:120px;
	margin-bottom:5px;
}
.b-img-alt img + p{
	line-height:14px;
	font-size:14px;
	color:#3a3a3a;
}
.b-img-alt p + p{
	line-height:30px;
	font-size:12px;
	color:#a4a4a4;
}
.price-part{
	height:50px;
	text-align:center;
}
.price-part p{
	font-size:14px;
	color:#ca151d;
}
.img-alt{
	height:220px;
	width:232px;
	padding-top:30px;
	text-align:center;
}
.img-alt img{
	width:150px;
	height:150px;
	margin-bottom:20px;
}
.img-alt img + p{
	line-height:18px;
	font-size:14px;
	color:#3a3a3a;
}
.img-alt p + p{
	line-height:30px;
	font-size:12px;
	color:#a4a4a4;
}
.price{
	height:50px;
	text-align:center;
}
.price p{
	margin-top:1px;
	font-size:14px;
	color:#ca151d;
}

.common li{
	width:290px;
	height:346px;
	margin-right:13px;
	background-color:#FFF;
}
.common li.last{
	margin-right:0;
}
.common .img-alt{
	height:261px;
	width:290px;
	padding-top:30px;
	text-align:center;
}
.common .img-alt img{
	width:180px;
	height:180px;
	margin-bottom:25px;
}
.common .img-alt img + p{
	line-height:18px;
	font-size:14px;
	color:#3a3a3a;
}
.common .img-alt p + p{
	line-height:30px;
	font-size:12px;
	color:#a4a4a4;
}
.common .price{
	height:55px;
	text-align:center;
}
.common .price p{
	margin-top:1px;
	font-size:14px;
	color:#ca151d;
}